helioshr-onboarding-workflow.json
{
  "id": "helioshr-onboarding-workflow-advanced",
  "name": "HeliosHR AI-Driven Automated Onboarding (Advanced)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workday-new-hire-trigger",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "id": "eca6437b-358b-4db1-ac1b-b65b5401a01a",
      "name": "Workday Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [208, 352],
      "credentials": {},
      "disabled": false,
      "webhookId": "087b2e9c-42d7-4be0-ac5c-2f32fe0fc5a9"
    },
    {
      "parameters": {
        "operation": "create",
        "firstName": "={{ $('Workday Webhook Trigger').item.json.body.first_name }}",
        "lastName": "={{ $('Workday Webhook Trigger').item.json.body.last_name }}",
        "login": "={{ $json.output.text }}",
        "email": "={{ $json.output.text }}",
        "getCreateFields": {},
        "requestOptions": {}
      },
      "id": "5136f0f6-8e86-45c7-bb64-2796796bd1e9",
      "name": "Okta Provisioner",
      "type": "n8n-nodes-base.okta",
      "typeVersion": 1,
      "position": [784, 256],
      "onError": "continueErrorOutput",
      "credentials": {},
      "disabled": false
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "it-provisioning-logs"
        },
        "text": "=:sparkles: **AI Onboarding Update for HeliosHR** :sparkles:\n**Employee:** {{ $(\"Workday Webhook Trigger\").item.json.body.first_name }} {{ $(\"Workday Webhook Trigger\").item.json.body.last_name }}\n**Email:** {{ $(\"Claude Orchestrator\").item.json.output.text }}\n**Status:** Automated account profiles provisioned into Okta and Google Workspace. System is operational.",
        "otherOptions": {}
      },
      "id": "156b3ef9-a999-4fe1-ab91-7e7590cdc2ce",
      "name": "Slack Operations Notifier",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [1232, 352],
      "credentials": {},
      "disabled": false
    },
    {
      "parameters": {},
      "id": "0a960044-1318-41bb-a9c9-295a96499bf1",
      "name": "Merge Provisioning Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1008, 352],
      "credentials": {},
      "disabled": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workday Webhook Trigger').item.json.body.first_name }} {{ $('Workday Webhook Trigger').item.json.body.last_name }} is joining as {{ $('Workday Webhook Trigger').item.json.body.title }} in {{ $('Workday Webhook Trigger').item.json.body.department }}. Generate a professional email address following company naming conventions.",
        "options": {
          "systemMessage": "You are an HR automation assistant. Generate professional email addresses based on employee information. Return only the email address in the format: firstname.lastname@helioshr.com"
        }
      },
      "id": "c23d031d-b5b1-4b16-912b-1f59c2a07256",
      "name": "Claude Orchestrator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [432, 352],
      "credentials": {},
      "disabled": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6"
        },
        "options": {}
      },
      "id": "ea4dd6f6-5243-455e-a2c3-b01ca52f3d27",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [512, 576],
      "credentials": {},
      "disabled": false
    },
    {
      "parameters": {
        "firstName": "={{ $('Workday Webhook Trigger').item.json.body.first_name }}",
        "lastName": "={{ $('Workday Webhook Trigger').item.json.body.last_name }}",
        "password": "TempPassword123!",
        "username": "={{ $json.output.text.split(\"@\")[0] }}",
        "domain": "helioshr.com",
        "additionalFields": {}
      },
      "id": "e384b67b-adc0-4944-b150-5b4ccf1680b2",
      "name": "Google Workspace Provisioner",
      "type": "n8n-nodes-base.gSuiteAdmin",
      "typeVersion": 1,
      "position": [784, 448],
      "onError": "continueErrorOutput",
      "credentials": {},
      "disabled": false
    }
  ],
  "connections": {
    "Okta Provisioner": {
      "main": [
        [
          {
            "node": "Merge Provisioning Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Provisioning Results": {
      "main": [
        [
          {
            "node": "Slack Operations Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workday Webhook Trigger": {
      "main": [
        [
          {
            "node": "Claude Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Orchestrator": {
      "main": [
        [
          {
            "node": "Okta Provisioner",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Workspace Provisioner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Orchestrator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Workspace Provisioner": {
      "main": [
        [
          {
            "node": "Merge Provisioning Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "tags": []
}
